aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.9
choicelib==0.1.4
colorama==0.4.4
DateTime==4.3
frozenlist==1.2.0
idna==3.3
loguru==0.5.3
lxml==4.7.1
mc.py==4.0.0
multidict==5.2.0
pika==1.2.0
Pillow==9.0.0
pydantic==1.9.0
python-rucaptcha==3.0.1
pytz==2021.3
requests==2.26.0
soupsieve==2.3.1
typing-extensions==3.10.0.2
urllib3==1.26.7
vbml==1.1
vk-api==11.9.7
vkbottle==4.1.11
vkbottle-types==5.131.131.12
watchgod==0.7
win32-setctime==1.0.4
xmltodict==0.12.0
yarl==1.7.2
zope.interface==5.4.0
